<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#" lang="{{ .Language.Lang }}">
{{- partial "head.html" . -}}

<body class="bg-background">
  {{- partial "social_desktop.html" . -}}
  {{- partial "header.html" . -}}
  <main class="flex flex-col items-center mx-6 sm:mx-24">
    {{- block "main" . }}{{- end }}
  </main>
  {{- partial "footer.html" . -}}
  {{- partial "scroll_up.html" . -}}
</body>

<!-- Icons -->
<script>
  feather.replace();
</script>

<!-- Javascript -->
{{- $main_js := resources.Get "js/main.js" -}}

{{- if hugo.IsProduction -}}
{{- $main_js = $main_js | minify | fingerprint | resources.PostProcess -}}
{{- end -}}
<script src="{{ $main_js.RelPermalink }}"></script>

</html>
