{{- define "main" }}
<section class="min-h-50 w-full pt-8 mb-8 flex flex-col items-center">
  <table>
    <tr>
      <th>Title</th>
      <th>Built at</th>
      <th>Year</th>
      <th>Technologies</th>
    </tr>
    {{ range .Pages.ByDate }}
    <a href="{{ .Permalink }}">
      <tr>
        <td>{{ .Title }}</td>
        <td>Test</td>
        <td>{{ .Date.Format "2006" }}</td>
        <td>Angular</td>
      </tr>
    </a>
    {{ end }}
  </table>
</section>
{{- end -}}
