<header class="w-full fixed left-0 bottom-0 sm:relative z-10">
  <nav class="flex justify-between items-center px-4 py-2 bg-background sm:h-24 sm:px-8">
    <!-- Logo -->
    <a href="/#" aria-label="Navigate back to the homepage">
      <img width="32px" height="32px" class="w-10 duration-500 ease-in-out hover:scale-110 sm:w-12" src="/img/logo.svg"
        alt="personal logo">
    </a>

    <!-- Mobile menu -->
    <div id="menu" class="w-full fixed left-0 bottom-menu mb-14 flex justify-end duration-500">
      <div class="max-w-sm px-4 py-4 mx-4 bg-card shadow-menu rounded-2xl">
        <ul class="grid grid-cols-3 gap-2">
          {{- range .Site.Menus.main -}}
          {{- $url := .URL | relLangURL }}
          <li class="mx-2">
            <a href="{{ $url }}" class="w-14 menu-link flex flex-col items-center"
              aria-label="Navigate to the {{ .Identifier }} section">
              <i class="w-6 stroke-secondary" width="32px" height="32px" data-feather="{{ .Params.icon }}"></i>
              <p class="text-sm text-text">{{ .Name }}</p>
            </a>
          </li>
          {{- end -}}
        </ul>
      </div>
    </div>

    <div class="flex justify-between">
      <!-- Desktop menu -->
      <div class="hidden sm:flex sm:flex-col sm:justify-center">
        <div class="flex flex-row gap-6 mr-8">
          {{- range .Site.Menus.main -}}
          {{- if ne .URL "#" -}}
          {{- $url := .URL | relLangURL }}
          <a href="{{ $url }}" class="menu-link flex flex-col items-center"
            aria-label="Navigate to the {{ .Identifier }} section">
            <p class="text-lg text-text duration-200 hover:text-primary">{{ .Name }}</p>
          </a>
          {{- end -}}
          {{- end -}}
        </div>
      </div>

      <!-- Lang toggler -->
      {{ $url := .Permalink | relURL | string }}
      {{- if eq .Lang "it" -}}
      {{ $url = replace $url "/it" "" }}
      <div class="mr-5 cursor-pointer sm:mr-2" id="toggle-theme">
        <a href="{{ $url }}" aria-label="Switch the language to italian">
          <i class="w-7 stroke-text duration-200 hover:stroke-primary sm:w-8" width="32px" height="32px"
            data-feather="globe"></i>
        </a>
      </div>
      {{- else -}}
      {{ $url = printf "%s" $url | printf "%s%s" "/it" }}
      <div class="mr-5 cursor-pointer sm:mr-2" id="toggle-theme">
        <a href="{{ $url }}" aria-label="Switch the language to english">
          <i class="w-7 stroke-text duration-200 hover:stroke-primary sm:w-8" width="32px" height="32px"
            data-feather="globe"></i>
        </a>
      </div>
      {{- end -}}

      <!-- Menu toggler -->
      <div id="menu-toggle" class="cursor-pointer sm:hidden">
        <i class="w-8 stroke-text" width="32px" height="32px" data-feather="menu"></i>
      </div>
      <div class="cursor-pointer hidden" id="menu-close">
        <i class="w-8 stroke-text" width="32px" height="32px" data-feather="x"></i>
      </div>
    </div>
  </nav>
</header>
