<a id="scroll-up" class="mr-3 p-2 fixed right-0 bottom-0 bg-primary rounded-xl shadow-xl opacity-90 \
  duration-300 ease-in-out hover:scale-110 sm:mr-6 sm:mb-5 sm:bottom-menu" href="#"
  aria-label="Scroll to the top of the page">
  <i class="stroke-secondary" data-feather="chevron-up"></i>
</a>
