{{- define "main" -}}
<div class="min-h-screen flex flex-col justify-center">
  <div class="mb-24 flex flex-col items-center sm:mb-60">
    <h2 class="mb-8 text-2xl text-center text-secondary sm:text-4xl sm:mb-14">{{ i18n "404_title" }}</h2>
    {{- with $url := "/" | relLangURL -}}
    <a class="px-4 py-2 w-fit flex flex-col gap-3 bg-primary rounded-xl shadow-xl duration-300 ease-in-out hover:scale-110"
      href="{{ . }}" aria-label="Navigate back to the homepage">
      <p class="text-lg text-center text-secondary sm:text-xl sm:text-left">{{ i18n "404_button" }}</p>
    </a>
    {{- end -}}
  </div>
</div>
{{- end -}}
