{{- define "main" }}
<section class="min-h-screen flex flex-col justify-center">
  <div class="mb-24 sm:mb-60">
    <p id="intro-1"
      class="text-xl font-light text-center text-primary mb-4 opacity-0 delay-500 duration-500 sm:text-2xl sm:mb-5">
      {{ i18n "intro_1" }}
    </p>
    <h1 id="intro-2"
      class="text-4xl font-semibold text-center text-secondary mb-5 opacity-0 delay-1200 duration-500 sm:text-6xl sm:mb-8">
      Lorenzo
      Capalbo
    </h1>
    <p id="intro-3" class="text-lg text-center text-text opacity-0 delay-2000 duration-1000 sm:text-2xl">{{ i18n
      "intro_2" }}</p>
  </div>
</section>
<section id="about" class="min-h-50 max-w-5xl pt-8 mb-20 flex flex-col">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">{{ i18n "about_title" }}</h2>
  <div class="max-w-4xl sm:ml-12">
    <p class="text-lg text-center text-text mb-4 sm:text-xl sm:text-left sm:mb-6">{{
      i18n "about_1" |
      safeHTML }}</p>
    <p class="text-lg text-center text-text mb-4 sm:text-xl sm:text-left sm:mb-6">{{
      i18n "about_2" |
      safeHTML }}</p>
    <p class="text-lg text-center text-text mb-4 sm:text-xl sm:text-left sm:mb-6">{{
      i18n "about_3" |
      safeHTML }}</p>
  </div>
</section>
<section id="skills" class="min-h-50 w-full pt-8 mb-20 flex flex-col items-center">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">{{ i18n "skills_title" }}</h2>
  <div class="grid gap-4 sm:mx-20 lg:grid-cols-2">
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle-1" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="layout"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">{{ i18n "skills_1" }}</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card-1" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text sm:text-xl">
          <li>HTML</li>
          <li>Bootstrap</li>
          <li>TailwindCSS</li>
          <li>JavaScript</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle-2" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="database"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">{{ i18n "skills_2" }}</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card-2" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text sm:text-xl">
          <li>Linux</li>
          <li>Django</li>
          <li>Python</li>
          <li>Java</li>
          <li>SQL</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle-3" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="crosshair"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">{{ i18n "skills_3" }}</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card-3" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text sm:text-xl">
          <li>Godot</li>
        </ul>
      </div>
    </div>
    <div class="flex flex-col h-min bg-card rounded-xl shadow-xl sm:mb-0">
      <div id="skill-toggle-4" class="w-full flex flex-row gap-3 items-center p-4 cursor-pointer">
        <i class="stroke-secondary" data-feather="settings"></i>
        <p class="text-lg text-center text-secondary sm:text-xl">{{ i18n "skills_4" }}</p>
        <i class="stroke-secondary ml-auto" data-feather="chevron-down"></i>
        <i class="hidden stroke-secondary ml-auto" data-feather="chevron-up"></i>
      </div>
      <div id="skill-card-4" class="hidden px-12 pb-4">
        <ul class="list-disc text-lg text-text sm:text-xl">
          <li>Agile</li>
          <li>Git</li>
          <li>GitHub</li>
          <li>GitLab</li>
          <li>Docker</li>
          <li>CI/CD</li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="journey" class="min-h-50 w-full pt-8 mb-20 flex flex-col items-center">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">{{ i18n "journey_title" }}</h2>
  <div class="max-w-2xl grid grid-cols-journey gap-4 sm:w-full">
    <div class="p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl">
      <h3 class="mb-1 text-lg text-center text-secondary sm:text-xl">{{ i18n "journey_1_1" }}</h3>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="map-pin"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_1_2" }}</p>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="calendar"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_1_3" }}</p>
      </div>
    </div>
    <div>
      <span class="inline-block w-4 h-4 bg-primary rounded-md translate-y-5"></span>
      <span class="block w-1 h-full bg-card translate-x-1.5 translate-y-3.5"></span>
    </div>
    <span></span>
    <span></span>
    <div>
      <span class="inline-block w-4 h-4 bg-primary rounded-md translate-y-5"></span>
      <span class="block w-1 h-full bg-card translate-x-1.5 translate-y-3.5"></span>
    </div>
    <div class="p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl">
      <h3 class="mb-1 text-lg text-center text-secondary sm:text-xl">{{ i18n "journey_2_1" }}</h3>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="map-pin"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_2_2" }}</p>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="calendar"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_2_3" }}</p>
      </div>
    </div>
    <div class="p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl">
      <h3 class="mb-1 text-lg text-center text-secondary sm:text-xl">{{ i18n "journey_3_1" }}</h3>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="map-pin"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_3_2" }}</p>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="calendar"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_3_3" }}</p>
      </div>
    </div>
    <div>
      <span class="inline-block w-4 h-4 bg-primary rounded-md translate-y-5"></span>
      <span class="block w-1 h-full bg-card translate-x-1.5 translate-y-3.5"></span>
    </div>
    <span></span>
    <span></span>
    <div>
      <span class="inline-block w-4 h-4 bg-primary rounded-md translate-y-5"></span>
    </div>
    <div class="p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl">
      <h3 class="mb-1 text-lg text-center text-secondary sm:text-xl">{{ i18n "journey_4_1" }}</h3>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="map-pin"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_4_2" }}</p>
      </div>
      <div class="flex flex-row gap-2 items-center">
        <i class="w-5 stroke-secondary" data-feather="calendar"></i>
        <p class="text-sm text-text sm:text-lg">{{ i18n "journey_4_3" }}</p>
      </div>
    </div>
  </div>
</section>
<section id="projects" class="min-h-50 w-full pt-8 mb-20 flex flex-col items-center">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">{{ i18n "projects_title" }}</h2>
  <div class="mb-8 grid grid-cols-1 gap-4 lg:grid-cols-2 2xl:grid-cols-3">
    <div class="max-w-sm p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl sm:text-lg">
      <div class="flex flex-row items-center">
        <h3 class="font-bold text-xl text-secondary sm:text-2xl">{{ i18n "projects_1_title" }}</h3>
        <p class="ml-auto px-2 py-1 text-sm text-end text-primary bg-background rounded-xl sm:text-md">
          {{- i18n "projects_featured" -}}
        </p>
      </div>
      <p class="text-md text-text">{{ i18n "projects_1_description" }}</p>
      <ul class="flex flex-row gap-4 text-sm text-secondary">
        <li>Godot</li>
        <li>Android</li>
        <li>IOS</li>
      </ul>
      <div class="mt-1 flex flex-row gap-4 justify-center">
        {{- with (i18n "projects_1_gitlab") -}}
        <a href="{{ . }}" aria-label="Open the GitLab project page">
          <i class="stroke-text duration-200 hover:stroke-primary" data-feather="gitlab"></i>
        </a>
        {{- end -}}
        {{- with (i18n "projects_1_link") -}}
        <a href="{{ . }}" aria-label="Open the project website">
          <i class="stroke-text duration-200 hover:stroke-primary" data-feather="link"></i>
        </a>
        {{- end -}}
      </div>
    </div>
    <div class="max-w-sm p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl sm:text-lg">
      <div class="flex flex-row items-center">
        <h3 class="text-xl text-secondary sm:text-2xl">{{ i18n "projects_2_title" }}</h3>
        <p class="ml-auto px-2 py-1 text-sm font-bold text-end text-primary bg-background rounded-xl sm:text-md">
          {{- i18n "projects_featured" -}}
        </p>
      </div>
      <p class="text-md text-text">{{ i18n "projects_2_description" }}</p>
      <ul class="flex flex-row gap-4 text-sm text-text">
        <li>TailwindCSS</li>
        <li>Hugo</li>
        <li>Netlify</li>
      </ul>
      <div class="mt-1 flex flex-row gap-4 justify-center">
        {{- with (i18n "projects_2_gitlab") -}}
        <a href="{{ . }}" aria-label="Open the GitLab project page">
          <i class="stroke-text duration-200 hover:stroke-primary" data-feather="gitlab"></i>
        </a>
        {{- end -}}
        {{- with (i18n "projects_2_link") -}}
        <a href="{{ . }}" aria-label="Open the project website">
          <i class="stroke-text duration-200 hover:stroke-primary" data-feather="link"></i>
        </a>
        {{- end -}}
      </div>
    </div>
    <div class="max-w-sm p-4 flex flex-col gap-3 bg-card rounded-xl shadow-xl sm:text-lg">
      <div class="flex flex-row items-center">
        <h3 class="text-xl text-secondary sm:text-2xl">{{ i18n "projects_3_title" }}</h3>
        <p class="ml-auto px-2 py-1 text-sm font-bold text-end text-primary bg-background rounded-xl sm:text-md">
          {{- i18n "projects_featured" -}}
        </p>
      </div>
      <p class="text-md text-text">{{ i18n "projects_3_description" }}</p>
      <ul class="flex flex-row gap-4 text-sm text-secondary">
        <li>Swing</li>
        <li>Java</li>
        <li>SQL</li>
      </ul>
    </div>
  </div>
  <a class="px-4 py-2 flex flex-col gap-3 bg-primary rounded-xl shadow-xl duration-300 ease-in-out hover:scale-110"
    href="projects" aria-label="Get in touch">
    <p class="text-lg text-center text-secondary sm:text-xl sm:text-left">{{ i18n "projects_more" }}</p>
  </a>
</section>
<section id="contact" class="min-h-50 w-full pt-8 mb-20 flex flex-col items-center">
  <h2 class="text-2xl text-center text-secondary mb-8 sm:text-4xl sm:mb-10">{{ i18n "contact_title" }}</h2>
  <p class="text-lg text-center text-text mb-8 sm:text-xl sm:text-left">{{ i18n "contact_1" }}</p>
  {{ with .Site.Params.mail }}
  <a class="px-4 py-2 flex flex-col gap-3 bg-primary rounded-xl shadow-xl duration-300 ease-in-out hover:scale-110"
    href="mailto:{{ . }}" aria-label="Get in touch">
    <p class="text-lg text-center text-secondary sm:text-xl sm:text-left">{{ i18n "contact_2" }}</p>
  </a>
  {{ end }}
</section>
{{ range first 10 .Site.RegularPages }}
{{ .Summary }}
{{ end }}
{{- end -}}
